{% extends 'propdata/base.html' %}
{% load staticfiles %}
{% block title%}Prop Data - Home{% endblock%}

{% block content %}
    <div class="container">

    <!--home page for the client-side showing 2 featured property-->
    <div class="col-md-7">
        {% for house_details in listings %}
            <div class="media">
                     <div class="media-left">
                        <a href="#"><img class="media-object pull-left" style="padding-right: 10px;" src="{{MEDIA_URL}}{{house_details.picture.url}}" width="300" height="250" alt="..."></a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading" style=" color: green">R {{ house_details.price }}</h3>
                        <h4 style="color: chartreuse">{{ house_details.marketingHeading }}</h4>
                        <p>{{ house_details.description }}</p>

                        <p><span><b>Suburb: </b>{{ house_details.suburb }}</span></p>
                        <p><span><b>Bedrooms: </b>{{ house_details.bedrooms }}</span></p>
                        <p><span><b>Owner's Ref: </b>{{ house_details.ownersRefNumber }}</span></p>
                        <p><span><b>Associated Agent: </b>{{ house_details.associated_agent }}</span></p>

                    </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}