{% extends 'propDataAdmin/base.html' %}

{% block content %}
    <div class="container">

    <!--Form for adding new Listing (new property) to the site-->

     <h1>Add Listing</h1>
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}


            {% for field in form %}
                <fieldset class="form-group">
                    <div class="col-md-2">
                        <label class="control-label">{{ field.label }}</label> </div>
                    <div class="col-md-4">{{ field }} </div>
                    <div class="col-md-4 text-danger">{{ field.errors }}</div>
                </fieldset>
            {% endfor %}
        <button  type="submit" class="save btn btn-success col-md-3 offset3">Save</button>
        </form>


    </div>
{% endblock %}