{% extends 'propDataAdmin/base.html' %}
 {% load staticfiles %}
{% block content %}

    <!--This is a tabular representation of all Leads in the database who sent mail -->
<div class="table-responsive">
                    <table class="table table-striped">
                        <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Message</th><th>Property (Owner's Reference)</th></tr>
                        {% for lead in leads %}
                        <tr><th>{{ lead.first_name }}</th><td>{{ lead.last_name}}</td><td>{{ lead.email }}</td><td>{{ lead.message }}</td><td>
                            {{ lead.property }}</td></tr>

                        {% endfor %}

                    </table>
</div>

    <!-- The code below performs pagination -->

    <div class="container">
        {% if leads.has_other_pages %}
            <ul class="pagination">
                {% if leads.has_previous %}
                    <li><a href="?page={{ leads.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
            {% for i in leads.paginator.page_range %}
                    {% if leads.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
            {% endfor %}
            {% if leads.has_next %}
                <li><a href="?page={{ leads.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}